*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

.coneiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
h2{
    color: #00bcd4;
    margin-top: 20px;
    margin-bottom: 15px;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05); 
}
/* Estilos para la tarjeta 1 */
.card1 {
    background-color: #f0e9f8;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height:500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.card1 img {
    width: 100%;
}
.datos_carga p {
    font-size: 24px;
    font-weight: bold;
    color: #6a359c;
}
.datos_carga p:nth-child(2){
    font-size: 14px;
    color: #7a7a7a83;
}
.lista_archivos {
    padding: 20px;
    margin: 10px 0;

}
.lista_archivos lis {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}
.card1 button {
    background-color: #6a359c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* Estilos para la tarjeta 2 */
.card2 {
    background-color: #f0e9f8;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card2 img {
    width: 150px;
    margin: 50px;
    margin-bottom: 30px;
}

.card2 h1 {
    font-size: 22px;
    color: #f09445;
}

.card2 p {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
}

.card2 button {
    background-color: #f09445;
    color: white;
    border: none;
    margin-top: 50px;
    margin-bottom: -150px;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
}
.card2 .puntos h1 {
    font-size: 24px;
    color: #ccc;
    margin-top: 15px;
}
/* Estilos para la tarjeta 3 */
.card3 {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card3 img {
    width: 100px;
    margin-top: 15px;
}

.card3 h1 {
    font-size: 18px;
    color: #2b2b2bc5;
    padding-top: 20px;
}
.card3 p {
    font-size: 14px;
    color: #535353;
    padding-top: 10px;    
}

.card3 button {
    background-color: #EE68A1;
    color: white;
    border: none;
    padding: 2px 132px;
    cursor: pointer;
    transform: translateX(-20px);
    margin-top: 30px;
}
/* Estilos para la tarjeta 4 */
.card4 {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #f8f8f8;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    border: 15px solid black;
}

.card4 img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
    transform: translateZ(10px);
}

.card4 .texto_big {
    position: relative;
    width: 55%;
    font-stretch: ultra-condensed;
    display: flex;
    transform: translateX(-165px);
    
}   

.card4 .texto_big h1 {
    font-size: 280px;
    font-weight: bold;
    color: #000;
    margin: 0;
    line-height: 0.8;
    letter-spacing: -15px;
    padding-left: 20px;
    
}

.card4 .texto {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #f8f8f8; 
    padding: 0;
    width: 400px;
}

.textitos1 {
    display: block;
    justify-content: space-between;
}

.textitos1 h2 {
    font-size: 14px;
    font-weight: bold;
    transform: translateX(-15px);
    color: #000;
    padding-top: 10px;
    margin-left: 10px;
}
.textitos1 h2:nth-child(1){
    margin-top: -25px;
}
.textitos1 h2:nth-child(2){
    margin-top: 200px;
}
.texto_principal p {
    font-size: 14px;
    color: #000;
    text-align: justify;
    margin-top: -230px;
    transform: translateX(155px);
}

.textitos2 {
    display: block;
    justify-content: space-between;
    
}

.textitos2 h2 {
    font-size: 14px;
    font-weight: bold;
    transform: translateX(705px);
    color: #000;
}
.textitos2 h2:nth-child(1){
    margin-top: -75px;
}
.textitos2 h2:nth-child(2){
    margin-top: 210px;
}
/* Estilos para la tarjeta 5 */
.card5 {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 625px;
}

.card5 .encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card5 .encabezado button {
    background-color: transparent;
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
}

.card5 .encabezado .user {
    display: flex;
    align-items: center;
}

.card5 .encabezado .user h2 {
    font-size: 15px;
    margin-right: 25px;
    color: #000;
}
.card5 .encabezado .user img{
    width: 40px;
}
.card5 .boards {
    display: flex;
    flex-direction: column;
}

.card5 .titulo_y_subtitulo h1{
    font-size: 26px;
}
.card5 .titulo_y_subtitulo h2{
    font-size: 13px;
    color: #000000b0;
}
.card5 .titulo_y_subtitulo .subtitulo h1{
    font-size: 20px;
    color: #000000b2;
    margin-top: 50px;
    margin-bottom: -20px;
}
.card5 .imagenes {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 20px;
}

.card5 .imagenes img {
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.card5 .imagenes .img1_2 img:nth-child(1){
    margin-right: 40px;
}
.card5 .imagenes .img3_4{
    display: flex;
    transform: translateX(-220px);
    margin-top: 50px;
}
.card5 .imagenes .img3_4 img:nth-child(1){
    margin-right: 45px;
}

.pie_texto1 {
    display: flex;
    margin-top: 5px;
}
.pie_texto1 h3{
    font-size: 10px;
    margin: 0 5px;
}
.pie_texto1 h3:nth-child(1){
    margin-left: 40px;
    margin-right: 105px;
}

.pie_texto2 {
    display: flex;
    margin-top: 155px;
    transform: translateX(-255px);
}

.pie_texto2 h3 {
    font-size: 10px;
    text-align: center;
    flex: 1;
    margin: 0 5px;
}
a{
    font-size: 30px;
    color: antiquewhite;
}
